.navbar {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: top 0.3s ease, opacity 0.3s ease;
  padding: 1rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
}

.navbar.visible {
  top: 0;
  opacity: 1;
}

.navbar.dark {
  background-color: #1e1e1e;
  color: white;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .logo:hover {
  color: var(--accent);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right:2.5rem;
}

.navbar ul li {
  padding: 0.5rem;
}

.navbar ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--accent);
}

.navbar .menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.navbar .menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar .menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.navbar .menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.navbar .menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

.navbar .nav-links {
  display: flex;
  transition: transform 0.3s ease;
}

.navbar .nav-links.open {
  transform: translateX(0);
}

.navbar .theme-toggle {
  position: absolute;
  top: 2.8rem;
  right: 1rem;
  background-color: var(--accent);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
}

.navbar .theme-toggle:hover {
  background-color: var(--accent-hover);
}


@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .logo {
    margin-bottom: 1rem;
  }

  .navbar .menu-toggle {
    display: flex;
  }

  .navbar .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--card-bg);
    flex-direction: column;
    align-items: center;
    display: none;
    transform: translateX(-100%);
    padding: 1rem 0;
    z-index: 999;
  }

  .navbar .nav-links.open {
    display: flex;
    transform: translateX(0);
  }

  .navbar .nav-links li {
    width: 100%;
    text-align: center;
  }

  .navbar .theme-toggle {
    display:flex;
    max-width:65px;
    top: 3rem;
    left: 85%;
    transform: translateX(-50%);
  }
}
